<!DOCTYPE html>
<html>
  <head>
    <title>SuperSecretApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="container-fluid mt-5">
    <div class="mb-5">
      <h1 >Super Secret App 😎</h1>
      <% if session[:current_user].present? %>
        <%= button_to 'Sign Out', sessions_path, method: :delete, class: 'btn btn-danger' %>
      <% end %>
    </div>

    <% if flash[:notice].present? %>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <p class="alert alert-info"><%= flash[:notice] %></p>
        </div>
      </div>
    <% end %>

    <div class="row">
      <%= yield %>
    </div>
  </body>
</html>
